html {
	min-height: 100%;
}

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-weight: 300;
	background-color: #373737;
	margin: 0;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 42em) {
	#hero {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

@media screen and (min-width: 42em) {
	#hero {
		padding: 2em;
		min-height: 98vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

#hero {
	text-align: center;
}

#hero-icon {
	margin: 0 auto;
}

@media screen and (max-width: 30em) {
	#hero-icon {
		max-width: 25%;
	}
	#hero-icon img {
		max-width: 100%;
	}
}

@media screen and (min-width: 30em) and (max-width: 70em) {
	#hero-icon {
		max-width: 10%;
	}
	#hero-icon img {
		max-width: 100%;
	}
}

@media screen and (min-width: 70em) {
	#hero-icon {
		max-width: 5%;
	}
	#hero-icon img {
		max-width: 100%;
	}
}

#hero-text {
	margin: 0 auto;
}

@media screen and (max-width: 42em) {
	#hero-text {
		width: 100%;
	}
}

@media screen and (min-width: 42em) {
	#hero-text {
		width: 60%;
	}
}

.title {
	color: #ffffff;
	line-height: 1em;
	margin: 0 auto;
}

@media screen and (max-width: 42em) {
	.title {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 42em) {
	.title{
		font-size: 3em;
	}
}

.blurb {
	color: #afafaf;
	padding: 1em 1em 1em 1em;
}

@media screen and (max-width: 42em) {
	.blurb {
		font-size: 1.1em;
		margin: auto auto 1em;
	}
}

@media screen and (min-width: 42em) {
	.blurb {
		font-size: 1.1em;
	}
}

.btn {
	text-decoration: none;
	color: #373737;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.8em 1em;
	margin: 0 1em 1em 1em;
	line-height: 2.5em;
	height: auto;
	text-align: center;
	background-color: #ffffff;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	min-width: 10%;
}

@media screen and (max-width: 42em) {
	.btn {
		display: block;
	}
}

@media screen and (max-width: 42em) {
	.btn {
		display: inline-block;
	}
}

.btn:hover {
	background-color:#F6F6F6;
}

#hero-image{
	margin: 0 auto;
}

@media screen and (max-width: 42em) {
	#hero-image {
/*		padding: 0.5em;
		width: 90%;*/
		display: none;
	}
}

@media screen and (min-width: 42em) {
	#hero-image {
		padding: 3em;
		width: 40%;
	}
}

#hero-image img {
	width: 75%;
	height: auto;
}

#features {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
}

.separator {
	min-width: 100%;
}

.separator h2 {
	color: #ffffff;
	background-color: #212121;
	min-width: 100%;
	text-align: center;
	padding: 2em 0 2em 0;
	margin: 0 auto;
}

.features-content {
	padding: 2em 0 2em 0;
	margin: 0 auto;
}

@media screen and (min-width: 42em) {
	.features-content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 42em) {
	#features img {
		display: block;
		margin: 0 auto;
		width: 80%;
	}
}

@media screen and (min-width: 42em) {
	.img-container {
		width: 25%;
	}
	#features img {
		display: block;
		width: 100%;
	}	
}

@media screen and (max-width: 42em) {
	.description {
		display: inline;
		margin: 0 auto;
		text-align: center;
		max-width: 100%;
		padding: 2em 0 2em 0;
	}
}

@media screen and (min-width: 42em) and (max-width: 70em) {
	.description {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 50%;
	}
}

@media screen and (min-width: 70em) {
	.description {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 30%;
	}
}

.description-header{
	color: #ffffff;
	margin: 0 auto;
}

@media screen and (max-width: 42em) {
	.description-header {
		max-width: 90%;
		padding-top: 2em;
	}
}

@media screen and (min-width: 42em) {
	.description-header {
		max-width: 75%;
		text-align: center;
	}
}

.description-text {
	color: #afafaf;
	margin: 0 auto;
}

@media screen and (max-width: 42em) {
	.description-text {
		font-size: 1.1em;
		max-width: 90%;
		text-align: center;
		padding-top: 1em ;
	}
}

@media screen and (min-width: 42em) {
	.description-text {
		font-size: 1.1em;
		text-align: center;
		max-width: 75%;
		padding: 2em 2em 2em 2em;
	}
}

#main-menu,
#clue-explanation,
#reference {
	min-width: 100%;
	background-color: #494949;
}

@media screen and (min-width: 42em) {
	#img-quotes-container {
		order: 2;
	}
	#img-related-container {
		order: 2;
	}
}

#footer {
	color: #afafaf;
	font-size: 1em;
}

.link {
	color: #afafaf;
}

#modal {
	display: none;
	position: fixed;
	padding-top: 5em;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
	position: relative;
	margin: auto;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@media screen and (max-width: 42em) {
	#modal-content {
		width: 90%;
	}
}

@media screen and (min-width: 42em) {
	#modal-content {
		width: 40%;
	}
}

@-webkit-keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

#modal-title {
	font-size: 1rem;
	padding: 0.2rem 1rem;
	background-color: #373737;
	color: #ffffff;
	border-radius: 0.4rem 0.4rem 0rem 0rem;
}

#modal-text {
	padding: 2em 1em;
	background-color: #ffffff;
	border-radius: 0em 0em 0.4em 0.4em;
}

.download-link {
	color: #373737;
	display: block;
}

#close {
	font-size: 2rem;
	color: #aaaaaa;
	margin: auto;
	float: right;
	font-weight: bold;
}

#close:hover {
	color: #828282;
	text-decoration: none;
	cursor: pointer;
}

#footer {
	background-color: #111111;
}

@media screen and (max-width: 42em) {
	#footer {
		padding: 2em 1em 2em 2em;
		position: relative;
		text-align: center;
	}
}

@media screen and (min-width: 42em) {
	#footer {
		padding: 2em 1em 2em 2em;
		position: relative;
		text-align: right;
	}
}